@page
@model WebForm.Pages.Shared.QuanLyNhanVienModel
@{
    ViewData["Title"] = "Website Quản Lý Tour";
    Layout = "_Layout";

}
@using BUS;
@using DTO;
@using Microsoft.AspNetCore.Http;
@{
    List<NhanVienDTO> list_nv = new List<NhanVienDTO>();
    NhanVienBUS bus_nv = new NhanVienBUS();
    list_nv = bus_nv.List();
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Danh sách Sinh Viên</h4>
                        <form class="form-inline">
                            <button type="button" class="btn btn-primary mb-2" onclick="ThemNhanVien()">
                                Thêm
                            </button>
                            <input type="text" class="form-control mb-2 mr-sm-2" style="margin-left:" id="inlineFormInputName2" placeholder="...">
                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Mã Nhân Viên</th>
                                        <th>Họ tên</th>
                                        <th>Email</th>
                                        <th>Số điện thoại</th>
                                        <th>Giới tính</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (NhanVienDTO item in list_nv)
                                        {
                                            <tr>
                                                <td>@item.Id_NV</td>
                                                <td>@item.Hoten_NV</td>
                                                <td>@item.Email_NV</td>
                                                <td>@item.Sdt_NV</td>
                                                <td>@item.Gioitinh_NV</td>
                                                <form asp- method="post">
                                                    <td>
                                                        <input type="hidden" asp-for="nhanvien.Id_NV" value="@item.Id_NV" />
                                                        <input type="hidden" asp-for="nhanvien.Hoten_NV" value="@item.Hoten_NV" />
                                                        <input type="hidden" asp-for="nhanvien.Email_NV" value="@item.Email_NV" />
                                                        <input type="hidden" asp-for="nhanvien.Sdt_NV" value="@item.Sdt_NV" />
                                                        <input type="hidden" asp-for="nhanvien.Gioitinh_NV" value="@item.Gioitinh_NV" />
                                                        <input type="submit" asp-page-handler="edit" value="Sửa" class="btn btn-warning" />
                                                        <input type="submit" asp-page-handler="delete" value="Xóa" class="btn btn-danger" />
                                                    </td>
                                                </form>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>